{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.10.1/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://unpkg.com/htmx.org@1.9.11"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!-- <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="styles.css" /> -->
    <link rel="stylesheet" href="{% static 'css/main_latest.css' %}" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'img/lasimra_logo.png' %}"
    />
    <!-- <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script> -->
    <title>LASIMRA:: Tax Payers</title>
  </head>
  <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    {% block content %} {% endblock %}

    <!-- Script -->

    {% block script %} {% endblock %}

    <footer
      class="bottom-10 w-full md:w-4/5 md:ml-[20%] ml-20 text-right mt-20 text-xs text-blue-800"
    >
      <p>Powered by Maximum Collections</p>
    </footer>
  </body>
</html>
